body {
  text-align: center;
  color: #403f3d;
  /* background-image: linear-gradient(
    35deg,
    hsl(354deg 94% 37%) 0%,
    hsl(33deg 83% 44%) 7%,
    hsl(44deg 87% 47%) 14%,
    hsl(51deg 92% 50%) 20%,
    hsl(53deg 100% 50%) 27%,
    hsl(45deg 100% 50%) 34%,
    hsl(35deg 100% 50%) 41%,
    hsl(20deg 100% 50%) 48%,
    hsl(359deg 82% 62%) 55%,
    hsl(356deg 36% 66%) 61%,
    hsl(191deg 18% 65%) 68%,
    hsl(183deg 64% 57%) 75%,
    hsl(191deg 80% 51%) 81%,
    hsl(201deg 87% 52%) 88%,
    hsl(213deg 93% 52%) 94%,
    hsl(226deg 100% 50%) 100%
  ); */
  font-family: "Cerebri Sans", sans-serif, monospace;

}

.login-form, .exam-form, .grading-form{
 width: 30%;
  margin-left: 35%;
  margin-top: 10%;
  border: 1px solid #990c1a;
  border-radius: 7px;
  padding: 30px 20px 50px 20px;
  
}


.form-group{
  padding-top: 5%;
}

.question-place, .answer-place{
  /* position: fixed; */
  text-align: left;
  padding-top: 5%;
}
.btn-login, 
.btn-submit-answers,
.btn-submit-grade{
  margin-top: 10%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #990c1a;
  color: #990c1a ;
}

.btn-submit-answers,
.btn-submit-grade{
  margin-top: 20%;
}

.btn-login:hover, 
.btn-submit-answers:hover,
.btn-submit-grade:hover{
   background-color: #990c1a; 
   color: rgb(255, 255, 255);
   border-color: #990c1a;
}
